@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesPoint</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SalesPoint.styles.css" asp-append-version="true" />
    <link rel="icon" href="/favicon.ico" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="module" src="~/js/shared/layout.js"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="bg-slate-100 overflow-hidden" data-area-script="@(ViewBag.AreaScript ?? "")">
    <div class="flex h-screen">
        <!-- Image Section (Fixed to half viewport width) -->
        <div class="w-1/2 h-full overflow-hidden">
            <img src="~/images/grocery-bg.webp" class="w-full h-full object-cover" alt="Background image" />
        </div>

        <!-- Content Section (Other half of viewport) -->
        <div class="w-1/2 flex flex-col bg-white">
            <!-- Main Content -->
            <main class="flex-grow overflow-y-auto p-4">
                @RenderBody()
            </main>

            <!-- Footer -->
            <footer class="flex justify-center px-4 py-2">
                <p class="text-center">
                    &copy; 2025 <strong class="font-semibold">SalesPoint</strong>. Design and Built by <a href="https://github.com/MDanielle007" target="_blank" class="font-semibold text-indigo-600 dark:text-indigo-400">Marc Danielle Cabatay</a>
                </p>
            </footer>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
